<div class="container">
    <h4>Search for Courses</h4>

    <!-- Search input fields -->
    <div class="container">
        <form>
            <div class="row">
    
                <div class="form-group col">
                    <label for="subjectSelect">Subject Code:</label>
                    <select 
                        [(ngModel)]="selSubject"
                        (change)="fetchCourseCodes()"
                        class="form-control" 
                        id="subjectSelect" 
                        name="subjectSelect">
                            <option value="None">None</option>
                            <option *ngFor="let subject of subjects" [value]="subject">
                                {{ subject }}
                            </option>
                    </select>
                </div>
    
                <div class="form-group col">
                    <label for="courseCodeSelect">Course Code:</label>
                    <select [(ngModel)]="selCourse" class="form-control" id="courseCodeSelect" name="courseSelect">
                        <option value="All">All</option>
                        <option *ngFor="let course of courses" [value]="course">
                            {{ course }}
                        </option>
                    </select>
                </div>
    
                <div class="form-group col">
                    <label for="courseCompSelect">Course Component:</label>
                    <select [(ngModel)]="selCourseComponent" class="form-control" id="courseCompSelect" name="courseCompSelect">
                        <option value="All">All</option>
                        <option value="LEC">LEC</option>
                        <option value="LAB">LAB</option>
                        <option value="TUT">TUT</option>
                    </select>
                </div>
                
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>